
@{
    ViewBag.Title = "More";
}
@using LR2.Controllers;
<h2>More</h2>

<body>
    <ul>
        <li><img style="width:200px;height200px;" src="@Model.Path" /></li>
        <li>@Model.Name</li>
        <li> @Model.Type</li>
        <li> @Model.Price</li>

    </ul>
   
</body>
       
       
    
